body {
  background-image: url(https://images.unsplash.com/photo-1568581357391-c71a1675ef93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
    overflow-x: hidden;
  }  
  a {
    text-decoration: none;
  }
  
 h1 {
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
 }
.title-wrap {
  background-color: rgb(254, 254, 254);
  padding: 3px;
  border-radius: 10px;
}
  .nav {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    
    
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15rem;
  }
  img {
    height: 10rem;
    margin-top: 4rem;
  }
  
  .invoice-box {
   
    max-width: 800px;
    position: relative;
    top: 1vh;
    margin: auto;
    padding: 30px;
    
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: black;
    
 
    border-radius: 30px;
background: rgba(174, 196, 165, 0.907);

    
  }
  .links {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
  }
  .invoice-box i {
      margin-left: -26px;
      cursor: pointer;
    padding-right: 5px;
  }
  .pass {
    font-size: 1rem;
    text-align: left;
  }
  
  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }
  
  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }
  
  .invoice-box table tr td:nth-child(n+2) {
    text-align: right;
  }
  
  .invoice-box table tr.top table td {
    padding-bottom: 20px;
  }
  
  .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }
  
  .invoice-box table tr.information table td {
    padding-bottom: 40px;
  }
  
  .invoice-box table tr.heading td {
    background: transparent;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .invoice-box table tr.details td {
    padding-bottom: 20px;
  }
  
  .invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
  }
  
  .invoice-box table tr.item.last td {
    border-bottom: none;
  }
  
  .invoice-box table tr.item input {
    padding-left: 5px;
  }
  
  .invoice-box table tr.item td:first-child input {
    margin-left: -5px;
    width: 100%;
  }
  
  .invoice-box table tr.totalwithtax td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }
  
  .invoice-box input[type=number] {
    width: 60px;
  }
  
  @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
  }
  
  /** RTL **/
  .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  }
  
  .rtl table {
    text-align: right;
  }
  
  .rtl table tr td:nth-child(2) {
    text-align: left;
  }
 
 .title h3 {
     color:rgb(253, 253, 253);
 }
  .date, .info {
    text-align: left;
    
    font-size: 1rem;
  }
  .work {
    resize: none;
    margin-top: 25px;
    border: none;
    box-sizing: border-box;
  
      width: 100%;
  }
  #one {
    
    text-align: right;
  }
  
  
  .btn-add-row:hover {
    background: #7afaa1;
    transition: 0.5s;
  }
  .btn-delete-row:hover {
    background: #fc7474;
    transition: 0.5s;
  }
  #btn-top, #theme-button, button, #btn1 {
    
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #btn-top:hover,  #btn1:hover{
    background-color: #1e293b;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .button-81 {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }
  
  .conditions {
    visibility: hidden;
    padding-top: 50px;
    padding-right: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
  }
  
  @media print {
    .conditions {
      visibility: visible;
    }
    img {
      box-shadow: none;
    }
    .invoice-box {
      top: 5px;
      height: 90vh;
      box-shadow: none;
      border: 4px dotted gray;
      margin: 10px;    
      background-color: #fff;
      overflow: hidden;
    }
    #one {
      margin-right: -15px;
    }
    .date {
      border: none;
      text-align: right;
      margin-right: -50px;
    }
    .info {
      text-align: right;
    }
    .pass, i  {
      visibility: hidden;
    }
    input {
      border: none;
    }
    button, #btn1, .links{
      display: none;
    }
    
    @page {
     margin: 0;
  }
  
  }
  
  /*for theme dropdown*/
  
  #theme-button {
    position: absolute;
    z-index: 12;
    right: 0;
    top: 0;
  }
  
  ul {
    
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
    
      
    background: inherit;
      display: block;
      float: right;
      padding: 0.4rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: black;
    
  }
  
  li:hover {
      
      cursor: pointer;
  }
  
  ul li ul {
      background: white;
      visibility: hidden;
    opacity: 0;
    margin-top: 5px;
      position: absolute;
    transition: all 0.5s ease;
    
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    
    visibility: visible;
    opacity: 1;
    display: block;
  }
  ul li ul li:hover {
    background: gray;
  }
  ul li ul li {
      clear: both;
    width: 100%;
  }


  /*for circle background*/
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 50px;
  background-size: cover;
  background-blend-mode:lighten;
    backdrop-filter: blur(35px);
  background-image: url(myface.png);
  animation: animate 25s linear infinite;
  bottom: -30rem;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 110px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 30px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 30px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 140px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 180px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 45px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 25px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 190px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11){
  left: 31%;
  width: 10px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 39s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 0.4;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1500px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* waves*/

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}